body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url('../src/geometric_pattern_navy_background.jpg');
  position: absolute; */
  /* background-position: center; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* height: 100vh; */
  margin: 0px;
  padding: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 4px;
  margin: 0px 0px;
  border: none;
}

p {
  margin: 4px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(238, 146, 26);
}


.container {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}




.All-container {
  height: 100vh;
  overflow-y: auto;

}


.Dark .navbar {
  /* border-bottom: 1px solid rgb(240, 240, 240); */
  border-bottom: 1px solid white;
}

.Light .navbar {
  /* border-bottom: 1px solid rgb(26, 21, 21); */
  box-shadow: 0px 0px 10px black;
}

.nav-items {
  display: flex;
  padding: 10px;
  align-items: center;
}

.nav-items>div>a {
  text-align: center;
  align-items: center;
  padding: 10px;

}

#nav-title {
  color: black;
}

.Dark .side-link {
  color: rgb(237, 237, 252);
}

.Dark .side-link:hover {
  color: rgb(238, 146, 26);
  text-transform: uppercase;
}

.Light .side-link {
  color: rgb(237, 237, 252);
}

.Light .side-link:hover {
  color: rgb(238, 146, 26);
  text-transform: uppercase;
}
.navbar-content {
  display: flex;
  background-color: #209f69;
  padding: 0px 15px;
}
.brand-and-toggler{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.navbar-brand{
  
}
.logo-image {
  height: 3rem;
  width: 3rem;
  margin: 10px 0px;
}
.logo-text-image{
  height: 5rem;
  width: 7rem;
}
.logo-text{
  
  font-size: 40px;
  font-weight: 400;
}
.hamburger-button{
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  align-self: center;
  /* transition: cubic-bezier(0.4, 0, 1, 1); */
  z-index: 11;
}
.hamburger-image{
  height: 3rem;
  width: 3rem;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  transition: cubic-bezier(0.4, 0, 1, 1);
  z-index: 11;

}
.sidebar-collapse{
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 10;
  background-color: #32383f;
  color: white;
  height: 100%;
  width: 200px;
  display: flex;
  padding: 6rem 3rem 0 3rem;
  transform: translate(100%);
  transition: all 400ms ease-in-out;
}
.navbar-nav{
  list-style: none;
  padding: 0px;
}
.nav-link{
  font-size: 20px;
  font-weight: 500;
  color: white;
  transition: all 200ms ease-in-out;
}
.nav-link:hover{
  font-size: 22px;
}
.show-sidebar-collapse{
  transform: translateX(0);
}
.nav-Item{
  margin-bottom: 2rem;
}
.nav-user-link{
  color: white;
  text-transform: capitalize;
  font-family: sans-serif;
  font-style: italic;
  font-size: 25px;
  padding: 12px;
  border-radius: 1rem;
  width: 100%;
  box-shadow: 0px 0px 10px rgb(26 40 30 / 38%);
}
@media screen and (min-width:900px) {
  .sidebar-collapse{
    position: relative;
    height: auto;
    width: 100%;
    padding: 0%;
    background-color: transparent;
    padding: 0px 10px;
    transform: translateX(0);
    justify-content: flex-end;
  }
  .navbar-nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
  .nav-link{
    font-size: 15px;
    font-weight: 500;
    color: white;
    transition: all 200ms ease-out;
    opacity: 1;
    padding: 2px;
    margin: 0px 10px;
    
  }
  .nav-link:hover{
    font-size:20px;
  }
  .nav-Item {
    margin-bottom: 0px;
}
  .hamburger-button{
    display: none;
    justify-content: end;
  }
  .nav-user-link{
    font-size: 15px;
    padding: 0px;
    border-radius: none;
    width: 100%;
    box-shadow: none;
  }
}
.home-header {
  min-height: 70vh;
  min-width: 100%;
  
  
  /* background: linear-gradient(rgba(39, 185, 100, 0.466),rgba(35, 212, 115, 0.199)),url(../public/9396104_3016.jpg); */
  background: linear-gradient(rgba(32, 153, 83, 0.281),rgba(25, 134, 74, 0.493)),url(../public/9396104_3016.jpg);
  /* background-image: linear-gradient(to left, rgba(88, 94, 97, 0.322), rgba(31, 34, 37, 0.158)); */
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  text-align: center;
  align-items: center;
  color: white;
  /* background-color: black; */
}
.search-form{
  width: 100%;
  max-width: 630px;
  
  /* background-color: #32383f; */
}
.search-form-element{
  padding: 1rem 2.8rem;
  border-radius: 2.4rem;
}
.flex-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #209f69;
  color: white;
  padding: 10px;
  border-radius: 0rem 2rem 2rem 0rem;
  border: none;
  width: 15%;
}
.form-control {
  width: 100%;
  padding: 11px;
  border-radius: 2rem 0rem 0rem 2rem;
  border: none;
}

.search-results {
  background-color: white;
  color: #21262d;
  /* width: 80%; */
  padding: 5px 5px;
  margin: 10px 47px;
  overflow-y: auto;
  max-height: 200px;
  text-align: left;
  border-radius: 1rem;
}
.search-results ul{
  padding: 0;
}
.search-results li{
  list-style: none;
  padding: 5px;
  margin: 2px;
  box-shadow: 0px 0.5px 0px #797777c2;
}
.loading-icon{
  height: 50px;
  width: 50px;
  font-size: larger;
}
.resultButton{
  width: 100%;
  text-align: left;
}
.Dark {
  background-color: #21262d;
  color: white;
}

.Light {
  /* background-color: rgb(240 240 240 / 69%); */
  background-color: white;
  color: black;
}

.Dark a {
  color: rgb(241, 253, 255);
}

.Dark a:hover {
  color: rgb(255, 225, 169);
}

.Dark .Card-container {
  background-color: rgb(123 158 185 / 18%);
}

.Light .Card-container {
  background-color: rgb(217 220 233 / 34%);
}

/* .home-header::after {
  content: "";
  background-image: url(../public/9396104_3016.jpg);
  position: absolute;
  min-height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
} */




.search-form-element{
  display: flex;
  justify-content: space-between;
}

.all-book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.Card-container {
  width: 320px;
  min-height: 425px;
  padding: 10px;
  margin: 4px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
  /* align-items: center; */

  /* }
.image-container{
  
  flex: 1 25%;
  justify-content: center;
  /* background-color: aqua; */
}

*/ .thumbnail-container {

  display: flex;
  /* padding: 40px; */
  /* background-color: black; */
  justify-content: center;
}

.book-image {
  display: flex;
  justify-content: center;
  /* padding: 10px; */
  /* background-color: rgb(238, 250, 255); */
  /* background-color: rgb(211, 234, 255); */
}

#bookThumb {
  padding: 8px;
  background-color: rgb(238, 250, 255);
}

.info-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.inner-info-container {
  display: flex;
  /* text-align: center;
  justify-content: center; */
  flex-wrap: wrap;
}

#title {
  /* display: block; */
  margin: 7px auto 0px auto;
  cursor: pointer;
  font-style: italic;
}

.synopsis {

  flex: 1 55%;

}

.Dark .synopsis-end>details>summary {
  color: rgb(241, 223, 57);
  cursor: pointer;
}

.Light .synopsis-end>details>summary {
  color: rgb(51, 133, 158);
  cursor: pointer;
}

.rating {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.rating-item {
  display: flex;
  flex-direction: row;
  padding: 5px;
  font-size: 15px;
}

.rating-stars {
  display: flex;
  flex-direction: row;
  padding: 1px;

}

.Dark .rating-stars {
  color: rgb(243 228 22);
}

.Light .rating-stars {
  color: rgb(209 139 6);
}

.rating-row span {
  display: flex;
  flex-direction: row;
  padding: 1px;
}

.synopsis-items>.read-button {
  margin-top: 12px;
  border: none;
  background-color: rgb(86, 180, 86);
  color: white;
  border-radius: 5px;
  width: 70px;
}

.synopsis-items>.read-button:hover {
  background-color: rgb(48, 173, 48);
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 3px white;
}

#viewerCanvas {
  min-height: 700px;
  width: 800px;
}

/* forms   css */
.form-container {
  /* text-align: center;
  max-width: 700px;
  margin: 0px auto;
  min-height: 500px; */
  background-color: rgba(241, 241, 241, 0.664);
  /* color: white; */

  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* background-image: url(./geometric_pattern_navy_background.jpg); */
  /* background-size: cover; */
  /* background-image: linear-gradient(to right, rgb(28, 104, 139), rgb(243, 36, 22)); */



  /* background-repeat: no-repeat; */
}

.Dark .form-container {
  background-image: linear-gradient(to left, rgb(28, 104, 139), rgb(255, 249, 248));
  color: white;
}

.Light .form-container {
  background-image: linear-gradient(to left, rgb(28, 104, 139), rgb(255, 249, 248));
  color: black;
}

/* .form-container::before{
  background-color: aqua;
} */
.form {

  width: 50%;
  margin: 0px auto;
  /* height: 340px; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  /* background-color: antiquewhite; */
  backdrop-filter: blur(8px);
  /* box-shadow: 0px 0px 10px white;
   */
  background-color: rgb(255 255 255);
  border-radius: 10px;

  position: relative;
  padding: 10px;
}

.Light .form {
  background-color: rgb(255 255 255);
}

.Dark .form {
  background-color: #32383f;
}

.header-items-login {
  display: block;
}

.log-image-container>img {
  width: 85px;
  height: 85px;
  border-radius: 100%;
}

.form-item {
  display: flex;
  /* flex-direction: column; */
  justify-content: right;
}

.form-item>label {
  /* flex: 1  30%; */
  text-align: left;
  margin: 10px 4px;
}

.form-item>input,
.form-item>span {
  width: 80%;
  /* flex:1  60%; */
  /* width: auto; */

  margin: 10px 4px;
  padding: 2px 2px;
  border-radius: 5px;
  height: 22px;
  border: none;
  background-color: rgb(228, 228, 228);
}

.Light.form-container {
  background-color: rgba(240, 240, 240, 0.507);
  background-image: none;
}

.Dark.form-container {
  background-color: #21262d;
  background-image: none;
}

.form-item>textarea {
  width: 80%;
  border: none;
  padding: 2px 2px;
  border-radius: 5px;
  background-color: rgb(228, 228, 228);
}

#email {
  /* width: 80%;
  margin: 10px 4px;
  border-radius: 5px;
  height: 22px;
  border: none; */
}

.form-item-button>button {
  margin: 4px;
  border: none;
  border-radius: 5px;
  height: 22px;
  width: 30%;
  padding: 2px;
  cursor: pointer;
}

.form-item-button {
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 5px;
  height: 22px;
  width: 100%;
  padding: 2px;

}

.form-item-button>button:hover {
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.form-item-signup {
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 5px;
  height: 22px;
  width: 100%;
  padding: 2px;
  margin: 10px auto;
}

.form-item-signup>span>a {

  color: white;
  text-decoration: underline;
}

.form-item-signup>span>a:hover {
  color: rgb(207, 148, 38);
}

.error {
  color: red;
}

.processing {
  color: rgb(152, 231, 32);
}

/* .form-item>button {
  margin: 4px;
  border: none;
  border-radius: 5px;
  height: 22px;
  width: 30%;
  padding: 2px;
} */
.seller-card-container {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.seller-card {
  min-height: 200px;
  /* justify-content: center; */
  width: 90%;
  background-color: rgb(238, 238, 238);
  margin: 5px auto;
  display: flex;
  flex-wrap: wrap;
}

.seller-image {
  flex: 1 18%;
  display: flex;
  background-color: rgb(228, 228, 228);
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.seller-content {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.seller-purchase-content {
  flex: 1 18%;
  display: flex;
  flex-direction: column;
  padding: 4px;
  background-color: #ffd804c7;
}

.seller-card>div>h3 {
  font-style: italic;
  /* height: 30px; */
  margin: 0px;
  text-transform: capitalize;
  /* text-align: center; */
}

.seller-card>div>span {
  margin: 0px;
  /* text-align: center; */
}

.seller-image>img {
  justify-content: center;
  align-items: center;
}

.Dark .seller-card {
  background-color: #32383f;
}